//colors
$color_bunker_approx: #141414;
$color_geyser_approx: #d5dbe0;
$color_fountain_blue_approx: rgba(89, 184, 192, 1);
$color_mischka_10_approx: rgba(205, 214, 219, 0.1);
$white: #ffffff;
$color_mischka_20_approx: rgba(205, 214, 219, 0.2);

//fonts
$font_0: Maven Pro;
$font_1: sans-serif;

//urls
$url_0: url(../images/background-body.png);

body {
  font-family: $font_0, $font_1;
  background-image: $url_0;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
header {
  letter-spacing: 2px;
  padding: 12px;
  background: $color_bunker_approx;
  color: $color_geyser_approx;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 5px 0 $color_fountain_blue_approx;
  button {
    background: $color_mischka_10_approx;
    color: $color_geyser_approx;
  }
}
ul {
  margin: 0;
  padding: 4px;
}
li {
  margin: 0;
  padding: 4px;
}
.menu__item {
  display: inline;
  font-size: large;
  margin-right: 5px;
  padding: 10px;
}
.btn-log-out {
  margin-right: 10px;
  border: 2px solid $color_fountain_blue_approx;
  color: $white;
  background: $color_mischka_20_approx;
}
.all-films {
  color: $white;
}
.logo a {
  color: $color_fountain_blue_approx;
  font-size: 25px;
  font-weight: bold;
}
.menu a {
  color: $color_geyser_approx;
}