//colors
$red: red;
$color_fountain_blue_approx: #59b8c0;
$gray: #808080;
$white: #ffffff;

.nav-link {
  color: $color_fountain_blue_approx;
  text-decoration: none;
  &:hover {
    color: $gray;
  }
}

.navbar-default .navbar-brand {
  color: $red;
}
.navbar-brand:hover {
  color: $color_fountain_blue_approx;
}
.tab-content button {
  color: $color_fountain_blue_approx;
  font-weight: bold;
  margin-top: 20px;
  border: 1px solid $color_fountain_blue_approx;
}
