.carousel-item {
  img {
    width: 100%;
    display: block;
  }
}
p {
  color: #606060;
  text-align: center;
}
.custom-control, .custom-switch {
  padding-left: 0;
}
.navbar-expand {
  justify-content: center;
}
