.top-menu {
  box-shadow: 3px 0 7px rgba(0,0,0,.2);
  padding: 15px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.menu-main {
  padding: 10px 0 5px;
  text-align: center;
}
.menu-main-item {
  color: #30a5b7;
  text-decoration: none;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 5px;
  margin: 0 10px 0 10px;
  font-size: 17px;
  text-transform: uppercase;
  transition: color .2s;
  &:after {
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
  }
  &:last-child {
    &:after {
      content: none;
    }
  }
  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}
.header-btn {
  position: absolute;
  right: 15px;
}
.sda {
  background-color: #61dafb;
  width: 10px;
}
